
.messg {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  left: 10px;
  padding: 10px 15px;
  position: fixed;
  right: 10px;
  text-align: left;
  top: 10px;
  z-index: 9999;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
       -o-border-radius: 4px;
          border-radius: 4px;
}

@media (min-width: 768px) {
  .messg {
    left: 23%;
    right: 23%;
  }
}

@media (min-width: 992px) {
  .messg {
    left: 28%;
    right: 28%;
  }
}

@media (min-width: 1200px) {
  .messg {
    left: 33%;
    right: 33%;
  }
}

.messg-default {
  background-color: #fff;
  border-bottom: 1px solid #adadad;
  color: #333;
}

.messg-success {
  background-color: #5cb85c;
  border-bottom: 1px solid #4cae4c;
}

.messg-info {
  background-color: #31b0d5;
  border-bottom: 1px solid #269abc;
}

.messg-warning {
  background-color: #ec971f;
  border-bottom: 1px solid #d58512;
}

.messg-error {
  background-color: #c9302c;
  border-bottom: 1px solid #ac2925;
}
